/* 分页 */

.pagination-custom {
    text-align: center;
}

/* 站内信 */

.datainfoXin {
    padding: 0 20px;
}

.datainfoXin h3 {
    color: #4d4d4d;
    font-size: 20px;
}

.xinBox {
    /* display: flex;
    justify-content: space-around; */
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #efefef;
    cursor: pointer;
}

.xinImg {
    width: 100px;
    /* height: 100px; */
    float: left;
}

.xinImg img {
    width: 100px;
    height: 100px;
}

.xinMsg {
    padding: 0 20px;
    font-size: 16px;
    float: left;
    width: calc(100% - 120px);
}

.xinMsg h4 {
    color: #000;
    font-size: 20px;
}

.xinClose {
    width: 20px;
    height: 20px;
    float: right;
}

.xinTop {
    overflow: hidden;
    color: #C8A86E;
    font-size: 14px;
}

.xinTop h3 {
    padding: 0 20px 11px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    float: left;
}

.xinDetal {
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
}

.totalNum {
    color: #3f3f3f;
    font-size: 16px;
}

.noRead {
    color: #FF6969;
}

.xinlable {
    font-size: 16px;
    padding: 10px 0;
    color: #3f3f3f;
}

.xinlable .lableName {
    display: inline-block;
    width: 10%;
}

.xinlable .lableInfo {
    float: right;
    display: inline-block;
    width: 90%;
    text-align: left;
    font-size: 16px;
}

/* 我的活动 */

.activityBox {
    padding: 10px 0;
    overflow: hidden;
}

.activityBox>div {
    margin-bottom: 10px;
    padding: 0;
}

.post-blog {
    box-shadow: 0 2px 2px #C8A86E;
}

.post-blog__body {
    padding: 10px;
}

.post-blog__title {
    padding: 0;
}

.post-blog__meta {
    margin-top: 5px;
}

[class*="cell-"] {
    padding: 0;
}

.detailBtn {
    float: right;
    margin-right: 20px;
    border: 1px solid #C8A86E;
    color: #C8A86E;
    padding: 3px 8px;
    font-size: 16px;
    cursor: pointer;
}

.closeBtn {
    border: 1px solid #C8A86E;
    color: #C8A86E;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}

#actDetail p {
    font-size: 18px;
    color: #000;
}

#actDetail p,
#actDetail .footer {
    text-align: center;
    font-size: 18px;
    color: #000;
}

#actDetail .modal-dialog {
    margin-top: 20% !important;
    width: 30%;
}

#actDetail .activityDetail {
    padding: 20px 0;
}

#actDetail .activityDetail>div {
    overflow: hidden;
    padding: 10px 20px;
}

#actDetail .lableName {
    display: inline-block;
    width: 25%;
}

#actDetail .lableInfo {
    float: right;
    display: inline-block;
    width: 75%;
    text-align: left;
    font-size: 16px;
}

.shell.phone {
    padding-top: 80px;
    text-align: center;
}

@media (max-width: 768px) {
    #actDetail .modal-dialog {
        width: 80%;
        margin: 150px auto !important;
    }
    .button.userChange_btn {
        padding: 5px 15px;
        margin: 20px;
    }
    .pagination-custom {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    #actDetail .lableName {
        width: 35%;
    }
    #actDetail .lableInfo {
        width: 65%;
    }
    .shell.phone {
        padding-bottom: 100%;
        text-align: center;
    }
}

.mustStar {
    color: #B88E42;
}

.activityBox {
    text-align: center;
    margin-top: 20px;
}

#ProductName,
.ProductName {
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    line-clamp: 2;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*我的发帖*/

@media (min-width: 768px) {
    #userpost {
        color: #9f9f9f;
    }
    #mypost .unit__body {
        width: 50%;
    }
    #mypost .unit__Modular {
        width: 17.5%;
    }
    #mypost .unit__left,
    #mypost .unit__right {
        display: none;
    }
}

@media (max-width: 768px) {
    #mypost .unit__Modular {
        display: none;
    }
    #mypost .post-blog__meta-comments {
        margin-left: 0;
    }
}

#mypost .unit__Modular p {
    color: #9f9f9f;
}

#mypost .post-blog__meta-comments {
    cursor: pointer;
}

#mypost .unit__body:hover,
#mypost .post-blog__meta-comments:hover {
    color: #B88E42;
}

#mypost .post-blog-sm:hover,
#mypost .post-blog__meta-comments,
#mypost .post-blog__meta-comments:before {
    color: #0d0d0d;
}

#mypost .text-snow {
    font-family: FZZQJW
}

/* vip俱乐部 */

#vip .yesvip , #vip .novip {
    display: none;
}

#vip .joinvip p:first-child {
    font-size: 16px;
}

#vip .joinbtn {
    font-size: 14px;
}

#vip .showP .photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.dealh3 {
    margin-top: 20px;
}

#vip .vipdeal span {
    padding: 10px 20px;
}

#vip .vipdeal .row {
    padding: 25px 50px;
    font-size: 16px;
}

#vip .vipqa {
    margin-top: 20px;
}

#vip .vipqa *+p {
    margin-top: 0;
}

#vip .vipjq {
    margin-top: 20px;
    padding-bottom: 30px;
}

/* 报名表 */

#jointable ,#joinsecond{
    display: none;
}

#vipClub .form-inline center {
    margin-top: 20px;
}

#vipClub .form-inline center button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vipTop h3 {
    color: #C8A86E;
    font-size: 14px;
    cursor: pointer;
}

#vipinfo {
    display: none;
}

#vipinfo input,
#vipinfo textarea,
#vipinfo select{
    display: none;
}

#saveinfo,#resetinfo {
    display: none;
}

#vipinfo .form-inline {
    margin-top: 30px;
}

.step {
    text-align: center;
    font-size: 16px;
}

.step p {
    text-align: left;
    color: #4d4d4d;
    position: relative;
}

#vipClub #vip h3.dealh3 {
    font-weight: bolder;
}

#accordion1 {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
#accordion1 p{
    line-height: 30px;
}

.panel-custom-title a {
    font-weight: bolder;
}

@media (min-width: 768px) {
    #vip .showP {
        margin-right: 50px;
        text-align: center;
        font-size: 16px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    #vip .joinvip p:first-child {
        margin: 20px 0 40px 0;
    }
    #vip .joinvip {
        padding: 20px;
        position: relative;
    }
    #vip .joinbtn {
        padding: 6px 12px;
    }
    #vipClub #vip h3.dealh3 {
        margin-left: 5%;
    }
    #vip .vipdeal {
        margin: 10px 50px;
    }
    .step {
        width: 90%;
        margin-left: 5%;
    }
    #accordion1,
    .explain {
        width: 90%;
        margin-left: 5%;
    }
    #vipClub .form-inline {
        width: 80%;
        margin-left: 10%;
    }
    #vipClub .row {
        padding: 10px;
    }
    .viptable input[type=text] {
        width: 200px;
    }
    .col-md-12 .viptable input[type=text] {
        width: 82%;
    }
    .col-md-12 .viptable textarea {
        width: 82%;
    }
    .viptable select{
        width: 63%;
    }
    .vipinfo {
        width: 80%;
        margin-left: 10%;
    }
    #joinsecond .form-wrap{
        width: 80%;
        margin-left: 10%;
    }
    #joinsecond .list-group{
        width: 80%;
        margin-left: 10%;
    }
    #vipmoney{
        position: absolute;
        right: 20px;
        color: #B88E42;
        font-size: 22px;
        top: 0;
    }
    
}

@media (max-width: 768px) {
    #vip .joinbtn {
        padding: 0.5rem 1rem;
        margin-left: 0.8rem;
    }
    #vip .showP {
        text-align: center;
    }
    .vipdeal .orderprogress-topcard li div {
        width: 2.5rem !important;
        height: 2.5rem;
        line-height: 2.5rem;
    }
    #xufeivip button{
        margin-bottom: 5rem;
    }
    /* .col-xs-12 .viptable:first-child{
        margin-top: 0;
    } */
}

.viptable {
    margin: 20px 0 !important;
}

.viptable label {
    width: 100px;
    color: #4d4d4d;
    font-size: 15px;
}

.vipinfo {
    margin-top: 20px;
}

#vipinfo .vipinfo .inforadio {
    display: none;
}

.vipinfo .toptext {
    vertical-align: top;
}

.vipinfo input,
.vipinfo textarea,
.vipinfo select{
    display: inline-block;
}

#savetable {
    margin-bottom: 20px;
}
.littletx{
    font-size: 12px;
    color: #888a8c;
}
.step strong{
    margin-right: 5px;
}
@media (min-width: 1200px){
    .littletx{
        position: absolute;
        top: 50px;
        left: 0;
    }
    .step p {
        padding: 15px 0;
    }
}
#joinsecond{
    display: none;
}
#jointhree{
    display: none;
}

/* 购买记录 */
#buytable{
    display: none;
}
#buytable table{
    margin-top: 30px;
}

/* 确认支付 */
#joinsecond .form-wrap{
    text-align: left;
    position: relative;
    margin-top: 30px;
}
#vipmoney{
    color: #B88E42;
    font-size: 22px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #B88E42;
    border-color: #B88E42;
}
#joinsecond .list-group{
    margin-top: 30px;
}
#joinfirst .viptable .red{
    color: #B88E42;
}
#xufeivip ,#joinfirst{
    display: none;
}
.imgorder{
    position: relative;
    width: 100%;
    height: 250px;
}
#orderimg{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 250px;
}
#buytable .table-custom tr:first-child td {
    font-weight: 100;
}
#xufeivip .form-wrap{
    margin-top: 50px;
}
#xufeivip .list-group{
    margin-top: 20px;
}
